/* BANNER */

.container-wrapper {
    display: flex;
    align: center;
}

.container-wrapper {
    background: url('../images/fon.jpg');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    text-align: left;
    margin-top: 145px;
    margin-left: 110px;
    margin-bottom: 90px;
    margin-right: 110px;
    width: 1180px;
    height: 411px; 
    
}
.container-wrapper .text {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    color: white;
    left: -372px; 
    display: block;
    background-color: #C29974;
    margin: 372px;
    width: 1180px;
    height: 39px;
    padding-top: 11px;
}



.container-wrapper .banner-title {
    font-family: Montserrat;
    font-Weight: 700;
    font-style: normal;
    font-size: 40px;
    line-height: 44px;
    align-content: left;
    text-align: left;
    color: #1E0606;
    width: 307px;
    height: 88px;
    margin-top: 89px;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-left: 71px;
}

.container-wrapper .subtitle {
    position: absolute;
    width: 151px;
    height: 26px;
    left: 32px;
    margin-top: 197px;
    margin-left: 133px;
    margin-right: 161px;
    margin-bottom: 20px;
    width: 50%;
}


.image-right {
    content: url(../images/monster.png) no-repeat;
    width: 635px;
    height: 461px;
    background-position: right;
    display: block;
    position: absolute;
    margin-right: 100px;
    margin-top: 142px;
    margin-bottom: 39px;
    margin-left: 445px;
    bottom: 0;
}


/* SERVICE */

.service-container {
    margin-top: 90px;
    margin-bottom: 90px;
    margin-left: 110px;
    margin-right: 110px;
}


.subtitle {
    width: 151px;
    height: 26px;
    margin-top: 197px;
    left: -133px;
}


/* ABOUT */


.about-container_services  {
    display: flex;
    position: relative;
    
}


.about-container .model {
    background: url('../images/things/thing5.jpg') no-repeat center;
    margin-left: 110px;
    width: 480px;
    height: 559px;
}


.about-container_services .list {
    width: 199px;
    height: 47px;
    margin-top: 30px;
    margin-bottom: 17px;
    margin-left: 121px;
    text-transform: uppercase;
    font: Montserrat;
    font-Weight: 700;
    font-Style: normal;
    font-Size: 38px;
    Line-height: 46px;
} 



.about-container_services .Delivery {
    background: #e2f1f8;
    width: 326px;
    height: 55px;
    margin-top: 80px;
    margin-left: -298px;
    text-align: center;
    padding-top: 11px;
    padding-right: 180px;
    padding-left: 60px;
    font-family: Crimson Text;
    font-Weight: 700;
    font-Style: italic;
    font-Size: 26px;
    Line-height: 32px;
}

.about-container_services .Guarantee {
    width: 97px;
    height: 33px;
    margin-top: 11px;
    margin-left: -240px;
    font-family: Crimson Text;
    font-Weight: 400;
    font-Style: italic;
    font-Size: 26px;
    Line-height: 32px;
}

.about-container_services .Credit {
    width: 58px;
    height: 33px;
    margin-top: 22px;
    margin-left: -240px;
    margin-bottom: 30px;
    font-family: Crimson Text;
    font-Weight: 400;
    font-Style: italic;
    font-Size: 26px;
    Line-height: 32px;
}

.about-container_services .text2 {
    text-align: left;
    width: 480px;
    height: 66px;
    margin-top: 267px;
    margin-left: -267px;
    font-family: Open Sans;
    font-Weight: 400;
    font-Style: normal;
    font-Size: 16px;
    Line-height: 22px;
    Align: Left
    Vertical align: Top
}


.about-container_services .text3 {
    width: 480px;
    height: 88px;
    margin-top: 348px;
    margin-left: -479px;
    font-family: Open Sans;
    font-Weight: 400;
    font-Style: normal;
    font-Size: 16px;
    Line-height: 22px;
    line-height: 100%
    Align: Left
    Vertical align: Top
}

.button-ternary {
    font-family: Open Sans;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    position: absolute;
    text-decoration: none;
    left: 813px;
    Width: 149px;
    Height: 40px;
    padding: 9px 22px;
    margin-top: 462px;
    margin-left: -100px;
    text-align: center;
    background: black;
    color:blanchedalmond;
    border: none;
}
.button-ternary:hover {
    background: #C29974;
}
.button-ternary:active {
    background: #CFAF91;
}

/* BRANDS */
  
.brand-list {
    display: flex;
    position: relative;
    

}
.brand-container .brand-list {
    justify-content: space-between;
    margin-top: 0px;
    margin-left: 63px;
    margin-right: 220px;
    margin-bottom: 90px;
}

/* MAP */

.map {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    margin-top: 116px;
    margin-bottom: 155px;
    
}
.map-wrapper1 {
    
    background: #E1F0F7;
    width: 543px;
    height: 228px;
    margin-left: 20px;
    

}

.design-title {
    position: absolute;
    text-transform: uppercase;
    width: 357px;
    height: 47px;
    margin-top: -24px;
    margin-left: 30px;
    font-family: Montserrat;
    font-Weight: 700;
    font-Style: normal;
    font-Size: 38px;
    Line-height: 46px;
}

.about {
    position: absolute;
    width: 50%;
    height: 33px;
    top: 31px;
    margin-left: 30px;
    font-family: Crimson Text;
    font-Weight: 400;
    font-Style: italic;
    font-Size: 26px;
    Line-height: 33px;
}

.text4 {
    margin-top: 74px;
    margin-left: 30px;
    width: 483px;
    height: 67px;
    font-family: Open Sans;
    font-Weight: 400;
    font-Style: normal;
    font-Size: 16px;
    Line-height: 22px;
}



.map-wrapper1 .button-fourthly {
    width: 123px;
    height: 40px;
    background: black;
    color:blanchedalmond;
    text-transform: uppercase;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 9px;
    top: 30px;
    margin-left: 30px;
    font-family: Open Sans;
    font-Weight: 700;
    font-Style: normal;
    font-Size: 16px;
    Line-height: 22px;
}
.map-wrapper1 .button-fourthly:hover {
    background: #C29974;
   
}

.map-wrapper1 .button-fourthly:active {
    background: #CFAF91;
   
}

.map-wrapper2 {
    background: #E1F0F7;
    width: 543px;
    height: 209px;
    margin-right: 147px;
}
.contact-title {
    position: absolute;
    text-transform: uppercase;
    width: 217px;
    height: 47px;
    margin-top: -24px;
    margin-left: 30px;
    font-family: Montserrat;
    font-Weight: 700;
    font-Style: normal;
    font-Size: 38px;
    Line-height: 46px;
}
.text5 {
    margin-top: 41px;
    margin-left: 30px;
    width: 483px;
    height: 66px;
    font-family: Open Sans;
    font-Weight: 400;
    font-Style: normal;
    font-Size: 16px;
    Line-height: 22px;

}

.position {
    width: 483px;
    height: 196px;
    margin-top: 20px;
    margin-left: 29px;
}


